<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Length (words)</th>
      <th>Language</th>
      <th>Posted By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.title, assignment %></td>
        <td><%= assignment.length %></td>
        <td><%= assignment.language %></td>
        <td><%= assignment.created_by_user.email %></td>

        <td>
          <% if policy(assignment).update? %>
            <%= link_to 'Edit', edit_assignment_path(assignment) %>
          <% end %>
        </td>

        <td>
          <% if policy(assignment).destroy? %>
            <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
